:root {
    --backgroundColor: #00557a;
    --textColor: lightblue;
}

a {
    text-decoration: none;
    margin: auto;
}

p {
    color: var(--textColor);
    background-color: var(--backgroundColor);
    width: fit-content;
    font-size: 12pt;
}

.about {
    color: var(--textColor);
    background-color: var(--backgroundColor);
    width: fit-content;
    font-size: 20pt;
    text-align: left;
}

body {
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: var(--backgroundColor);
}

nav {
    position: sticky;
    top: 0;
    z-index: 9999;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--backgroundColor);
}

nav li a {
    display: block;
    color: var(--textColor);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change color on hover */
nav li a:hover {
    color: var(--backgroundColor);
    background-color: var(--textColor);
}

/* Hide dropdown by default */
.dropdown-content {
    display: none;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    color: var(--textColor);
    width: fit-content;
    height: auto;
    background-color: var(--backgroundColor);
    font-size: 35pt;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    margin: auto;
}

h2 {
    color: var(--textColor);
    width: fit-content;
    height: auto;
    background-color: var(--backgroundColor);
    font-size: 25pt;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    margin: auto;
}

.resume {
    color: var(--textColor);
    width: fit-content;
    height: auto;
    background-color: var(--backgroundColor);
    font-size: 15pt;
    text-transform: uppercase;
    padding: 0px;
}

.link {
    display: block;
    width: fit-content;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--textColor);
    text-decoration: none;
    background-color: var(--backgroundColor);
    margin: auto;
    border: 2px solid var(--textColor);
}

.link:hover {
    color: var(--backgroundColor);
    background-color: var(--textColor);
}

.linkmain {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 30pt;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--textColor);

}

.linkmain:hover {
    color: var(--backgroundColor);
    width: fit-content;
    background-color: var(--textColor);
    margin: auto;
}

row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
}

column {
    display: grid;
    flex: none;
    max-width: 18%;
    padding: 5px;
    margin: auto;
}

/*resume*/
rowR {
    display: flex;
    flex-wrap: wrap;
}

columnR {
    display: grid;
    flex: none;
    max-width: 100%;
    padding: 5px;
    margin: auto;
}

column img {
    width: 100%;
    height: auto;
    margin: auto;
}

column video {
    width: 100%;
    height: auto;
    margin: auto;
}

column video .snake {
    width: 300%;
}

column iframe {
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
}

.delf img {
    position: relative;
    width: 300%;
    height: auto;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

column img:hover~.tooltip {
    position: relative;
    opacity: 1;
}

.tooltip {
    display: flex;
    white-space: normal;
    max-width: fit-content;
    white-space: normal;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    margin: auto;
}

.text {
    text-align: center;
    font-size: 25pt;
    width: fit-content;
    margin: auto;
}

.typetext {
    text-align: center;
    font-size: 35pt;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5pt solid var(--textColor);
    animation:
        typing 2s steps(70, end) forwards,
        blink-caret 0.5s step-end 5 forwards;
    margin: auto;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 31%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--textColor);
    }

    100% {
        border-color: transparent;
    }
}

.smoke {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, rgba(200, 200, 200, 0.6) 0%, rgba(200, 200, 200, 0) 70%);
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOut .2s linear forwards;
}

@keyframes fadeOut {
    to {
        transform: scale(3);
        opacity: 0;
    }
}

.slideshow-container {
    max-width: 450px;
    position: relative;
    margin: auto;
}

.captiontext {
    color: var(--backgroundColor);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: var(--backgroundColor);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: var(--backgroundColor);
    border-radius: 50%;
    border-style: solid;
    border-color: var(--textColor);
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: var(--textColor);
}

.fade {
    animation-name: fade;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

img {
    width: 150px;
    transition: transform 0.05s linear;
    transform-origin: center center;
}

#follow {
    position: absolute;
    width: 32px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

button {
    background-color: var(--textColor);
    border-color: var(--backgroundColor);
    color: var(--backgroundColor);
    font-size: 12pt;
}

button:hover {
    background-color: var(--backgroundColor);
    border-color: var(--textColor);
    color: var(--textColor);
}

footer {
    border-color: var(--textColor);
    color: none;
    padding: fit-content;
}

.project {
    position: relative;
}